// Place all the styles related to the Families controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about_subtitle {
  padding: 20px 10px;
  font-size: 20px;
  font-weight: 600;
}

.about_span {
  margin-right: 5px;
}

.about_button {
  margin: 18px 46px;
}
